<a href="https://colab.research.google.com/github/Bhoomi059/RL/blob/main/Lec_1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
!python --version

Python 3.10.12

In [3]:
def quicksort(arr):
  if len(arr) <= 1:
    return arr
  pivot = arr[len(arr) // 2]
  left = [x for x in arr if x < pivot]
  middle = [x for x in arr if x == pivot]
  right = [x for x in arr if x > pivot]
  return quicksort(left) + middle + quicksort(right)

print(quicksort([4,5,8,10,12,3,1]))

[1, 3, 4, 5, 8, 10, 12]

In [8]:
x = 3
print(x, type(x))

3 <class 'int'>

In [11]:
print(x + 1)   #Addition
print(x - 1)   #Subtraction
print(x * 2)   #Multiplication
print(x ** 2)  # Exponentiation

4
2
6
9

In [13]:
x +=1
print(x)
x *= 2
print(x)

4
8

In [14]:
y = 2.5
print(type(y))
print(y, y + 1, y * 2, y ** 2)

<class 'float'>
2.5 3.5 5.0 6.25

In [17]:
y = 23645646544464.1678564644245544
print(type(y))
print(y, y + 1, y * 2, y ** 2)

<class 'float'>
23645646544464.168 23645646544465.168 47291293088928.336 5.591166005057302e+26

In [18]:
t, f = True, False
print(type(t))

<class 'bool'>

In [20]:
print(t and f) # LOgical AND;
print(t or f) # LOgical OR;
print(not t) # LOgical NOT;
print(t != f) # LOgical XOR;

False
True
False
True

In [21]:
hello = 'hello'
world = 'world'
print(hello, len(hello))

hello 5

In [26]:
s1 = 'Bhoomi'
s2 = 'Taneja'
hw = s1 + ' ' + s2
print(hw)
len(hw)

Bhoomi Taneja

13

In [30]:
hw12 = '{} {} {}'.format(s1, s2, 12) # string fromatting
print(hw12)

Bhoomi Taneja 12

In [41]:
s = "xx"
print(s.capitalize()) # capitalize a string
print(s.upper()) # convert a string to uppercase
print(s.rjust(7)) # right-justifying a string, padding with spaces
print(s.center(17)) # center a string, padding with spaces
print(s.replace('x', '(ell)')) # replace all instances of one substring with another
print('yy'.strip()) # strip leading and trailing

Xx
XX
     xx
        xx
(ell)(ell)
yy

In [40]:
s1 = 'machine learning'
print(s1.title())

Machine Learning

# **LIST**

In [58]:
xs = [3, 1, 2]
print(xs, xs[2])
print(xs[-3])

[3, 1, 2] 2
3

In [59]:
xs[2] = 'foo'
print(xs)

[3, 1, 'foo']

In [60]:
xs.append('bar')
print(xs)

[3, 1, 'foo', 'bar']

In [61]:
xs.append(1)
print(xs)

[3, 1, 'foo', 'bar', 1]

In [62]:
x = xs.pop()
print(x,xs)

1 [3, 1, 'foo', 'bar']

In [66]:
num = list(range(5))
print(num)
print(num[2:4])
print(num[2:])
print(num[:2])
print(num[:-1])
num[2:4] = [8, 9]
print(num)
num[2:4] = [8, 9, 10]
print(num)

[0, 1, 2, 3, 4]
[2, 3]
[2, 3, 4]
[0, 1]
[0, 1, 2, 3]
[0, 1, 8, 9, 4]
[0, 1, 8, 9, 10, 4]

# **LOOP**

In [69]:
animals = ['cat', 'dog', 'monkey']
for a in animals:
  print(a)

cat
dog
monkey

In [70]:
animals = ['cat', 'dog', 'monkey']
for idx, animal in enumerate(animals):
  print('#{}: {}'.format(idx +1, animal))

#1: cat
#2: dog
#3: monkey